<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="../styles.css"> 
</head>  
<body>


<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/home">To-Do-List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" id="searchForm" action="/home" method="GET">
        <input class="form-control mr-sm-2" id="f_title" type="search" name="title" placeholder="Search">
        <button class="btn" id="navbtn" type="submit">Search By Title</button>
        </form>
      <ul class="navbar-nav mr-auto" id="navbarItems">
        <li class="nav-item">
            <span class="nav-link" style="color: white;">
                <strong>Welcome <%=currentUser.username%></strong>
            </span> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item" style="color: white;">
            <span class="nav-link" id="archiveBtn">Archive</span>
        </li>

      </ul>
    </div>
  </nav>
/************************************************************************************************************/

<div class="container">
<div style="margin : 20px auto 20px auto">
    <a class="btn btn-success new" href="/new ">NEW TASK</a>
</div>
<div class="row">
    <div class="col-12 col-sm-3">
        <div id="filterBlock">
        <form action="/home" method="GET" id="filterForm">
            <div><h3>Filter By:- </h3></div>
            <div>
                <input type="radio" id="asc" name="order" value="asc">
                <label for="asc">Ascending</label>
                <input type="radio" id="dsc" name="order" value="dsc" checked>
                <label for="dsc">Descending</label>
            </div>
            <!--<div>
                <label for="f_title"> Title </label>
                <input id="f_title" type="text" name="title">
            </div>-->
            <div>
                <div> Task Type : </div>
                <select name="taskType" id="f_taskType"> 
                    <option value="NULL">--Please choose an option--</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Playing">Playing</option>
                    <option value="others">others</option>
                </select>
            </div>
            <div>
                <div> status : </div>
                <select name="status" id="f_status"> 
                    <option value="NULL">--Please choose an option--</option>
                    <option value="Completed">completed</option>
                    <option value="In Progress">In-progress</option>
                    <option value="New">New</option>
                </select>
            </div>
            <button class="btn btn-success" id="filterBtn"> submit</button>
        </form>
        </div>
        <div class="alarm-clock">
            <div class="date">
                <span class="month"></span>
                <span class="day"></span>,
                <span class="year"></span>
            </div>
        
            <div class="time">
                <span class="hours"></span>
                <span class="colon">:</span>
                <span class="minutes"></span>
                <span class="colon">:</span>
                <span class="seconds"></span>
            </div>
        </div>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-12 col-sm-8">
    <% for(var i=task.length-1;i>=0;i--){ %>
        <div class="tasks row">
            <div class="col-12 col-sm-9">
                <div>
                    <span class="title h2"><%=task[i].title%></span>
                    <hr>
                </div>
                <div>
                    <div>Body :</div> 
                    <div style="white-space:pre-line;">
                        <%=task[i].body%>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div>
                    <div class="alert alert-primary"><strong><span class="taskType"><%=task[i].taskType %></span></strong></div>
                </div>

                <div>
                    <div class="alert alert-success"><strong> <span class="status"><%=task[i].status %></span></strong></div>
                </div>

                <div style="font-size: small;">
                    Date : <%=task[i].created%>
                </div>
                <div style="font-size: small;">
                   ( Due Date : <%=task[i].dueDate%>)
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href='/home/<%=task[i]._id%>/edit' class="btn btn-success">EDIT</a>
                    </div>
                    <div class="col-12">
                        <form action="/home/<%=task[i]._id%>/delete?_method=DELETE" method="POST" style="display:inline">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
    </div>
</div>
</div>
<script src="../home.js">
</script>
<%- include("./partials/footer")%>