<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
    <link rel="stylesheet" href="../styles.css"> 
</head>  
<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/home"><i class="fa fa-file-text fa-lg" > </i> To-Do-List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" id="searchForm" action="/home" method="GET">
        <input class="form-control mr-sm-2" id="f_title" type="search" name="title" placeholder="Search">
        <button class="btn" id="navbtn" type="submit"><i class="fa fa-search fa-lg"></i>Search By Title</button>
        </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-right">
            <span class="nav-link" style="color: white;">
                <i class="fa fa-user-circle fa-lg"></i>
                <strong>Welcome <%=currentUser.username%></strong>
            </span> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa fa-power-off fa-lg"> </i> Logout</a>
        </li>
        <li class="nav-item" style="color: white;">
            <a href="#" class="nav-link" id="archiveBtn" style="color: white;"><i class="fa fa-archive fa-lg"></i> Archive</a>
        </li>
      </ul>
  </nav>
/************************************************************************************************************/
<div class="container">
<div style="margin : 20px auto 20px auto;">
    <a class="btn btn-success new" href="/new ">NEW TASK</a>
</div>

<div class="row">
    <div class="col-12 col-md-3">
        <div id="filterBlock" class="login-form">
        <form action="/home" method="GET" id="filterForm">
            <div class="form-group"><h3>Filter By:- </h3></div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" id="asc" name="order" value="asc">
                <label class="form-check-label" for="asc">Ascending</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="dsc" name="order" value="dsc" checked>
                <label for="dsc" class="form-check-label">Descending</label>
            </div>
            
            <!--<div>
                <label for="f_title"> Title </label>
                <input id="f_title" type="text" name="title">
            </div>-->
            <div class="form-group">
                <label for="f_taskType"> Task Type :- </label>
                <select name="taskType" id="f_taskType" class="custom-select">  
                    <option value="NULL">--choose--</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Playing">Playing</option>
                    <option value="others">others</option>
                </select>
            </div>
            <div class="form-group">
                <label for="f_status"> Status :- </label>
                <select name="status" id="f_status" class="custom-select"> 
                    <option value="NULL">--choose--</option>
                    <option value="Completed">completed</option>
                    <option value="In Progress">In-progress</option>
                    <option value="New">New</option>
                </select>
            </div>
            <button class="btn btn-success" id="filterBtn"> submit</button>
        </form>
        </div>
        <div class="alarm-clock">
            <div class="date">
                <span class="month"></span>
                <span class="day"></span>,
                <span class="year"></span>
            </div>
        
            <div class="time">
                <span class="hours"></span>
                <span class="colon">:</span>
                <span class="minutes"></span>
                <span class="colon">:</span>
                <span class="seconds"></span>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-12 col-md-8">
    <% for(var i=task.length-1;i>=0;i--){ %>
        <div class="tasks">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-9 text-capitalize h2 justify-content">
                            <span class="title"><%=task[i].title%></span>
                        </div>
                        <div class="col-12 col-sm-3 dueBy">
                            <i class="fa fa-calendar"></i> Due By :-<br/> <span style="color: purple;"><%=task[i].dueDate.toDateString()%></span>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div><i class="fa fa-tag"></i></div>
                        <div class="p-2"><span class="taskType"><strong><%=task[i].taskType %></strong></span></div>
                        <div class="p-2"><span class="status"><strong><%=task[i].status%></strong></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <p class="justify-content"><%=task[i].body%></p>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-6 ">
                    <a href='/home/<%=task[i]._id%>/edit' class="btn btn-success"><i class="fa fa-pencil"></i> EDIT</a>
                </div>
                <div class="col-12 col-sm-6 ">
                    <form action="/home/<%=task[i]._id%>/delete?_method=DELETE" method="POST" style="display:inline">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> DELETE</button>
                    </form>
                </div>
            </div>
            
        </div>
    <%}%>
    </div>
</div>
</div>
<script src="../home.js">
</script>
<%- include("./partials/footer")%>