<%- include("./partials/header")%>
<h1>HOME</h1>

<div>
    <form action="/home" method="GET">
        <div>filter By:- </div>
        <div>
            <div> Task Type : </div>
            <select name="taskType"> 
                <option value="">--Please choose an option--</option>
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="Shopping">Shopping</option>
                <option value="Playing">Playing</option>
                <option value="others">others</option>
            </select>
        </div>
        <div>
            <div> status : </div>
            <select name="status"> 
                <option value="">--Please choose an option--</option>
                <option value="completed">completed</option>
                <option value="in_progress">In-progress</option>
                <option value="new">New</option>
            </select>
        </div>
        <button class="btn btn-success"> submit</button>
    </form>
</div>

<a href="/new"><h4>NEW</h4></a>
<% for(var i=task.length-1;i>=0;i--){ %>
    <div>
        <hr>
        <div>
            Title : <%=task[i].title%>
        </div>
        
        <div>
            id : <%=task[i]._id%>
        </div>
       
        <div>
            <div>Body :</div> 
            <div style="white-space:pre-line;">
                <%=task[i].body%>
            </div>
        </div>

        <div>
            <div>Task Type : </div>
            <div><strong> <%=task[i].taskType %></strong></div>
        </div>

        <div>
            <div>Status : </div>
            <div><strong> <%=task[i].status %></strong></div>
        </div>

        <div style="font-size: small;">
            Date : <%=task[i].created%>
        </div>
        <a href='/home/<%=task[i]._id%>/edit' class="btn btn-success">edit</a>
        <form action="/home/<%=task[i]._id%>/delete?_method=DELETE" method="POST" style="display:inline">
            <button type="submit" class="btn btn-danger">delete</button>
        </form>
        <hr>
    </div>
<%}%>
<%- include("./partials/footer")%>